*{
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css?family=Della+Respira|Playfair+Display|Playfair+Display+SC&display=swap');
}

body{
     background-image: url("../images/one-dice-clipart-free-clipart-images.png");
    background-repeat: no-repeat;
    background-color: #08645f;
    background-size: cover;
  
    font-family: 'Playfair Display', serif;
    font-family: 'Della Respira', serif;
    font-family: 'Playfair Display SC', serif;
}
div{
    padding: 1em;
}

#container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
    padding: 20px;
    border: 2px solid yellow;
    border-radius: 15px;
    min-height: 800px;
}


#input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

#number-of-dice{
    width: 5.5em;
}

#side-of-die{
    width: 5em;
}

h3, h1 {
    color: antiquewhite;
    
}

li{
    font-size: 2em;
    color: antiquewhite;
}
#total-of-roll{
    font-size: 2.5em;
    color: antiquewhite;
}
#sum-totals {
    text-align: center;
}
#input{
    border: 2px solid yellow;
    
}
#roll-btn{
    border: 2px solid yellow;
    align-self: center;
    
}
#sum-totals{
    border: 2px solid yellow;
    min-height: 80px;
}

#show-details{
    border: 2px solid yellow;  
   text-align: center;
    }

#reset-btn{
        border: 2px solid yellow;
        align-self: flex-end;
    }